* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 10px 0;
    background-color: #1f2937;
    color: #f9faf8;
}

header nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
}

#logo {
    font-size: 24px;
}

.header-link {
    text-decoration: none;
    color: #e5e7eb;
}

.header-link:hover {
    color: #e8eaef;
}

header nav ul {
    list-style-type: none;

    display: flex;
    gap: 16px;
}